<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <!-- <body background="home-alone.jpg"> -->
	<body>
        <h1>HOME ALONE</h1>
		<p>
			<big>
			Obtenir une recommandation en entrant l'URL puis l'identifiant du film {ID_FILM}
				<br>
				dans le dernier champs:
				</br>
			</big>
		<br>
			<a href="https://recommendfilm-api-heroku.herokuapp.com/recommend/">
				<big>
				https://recommendfilm-api-heroku.herokuapp.com/recommend/{ID_FILM}
				<big>
			</a>
		</br>
		<br>
		Si l'identifiant n'existe pas Internal Server Error est retourné.
		</br>
		</p>
    </body>
</html>